<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Homepage</title>
	<link rel="icon" href="static/images/icon.ico">
	 <link rel="stylesheet" href="static/css/mainpage.css">
</head>
<body>

	<div id='top'>
		<img id="top_logo" src="static/images/icon.png" alt="Logo">
		<h1>Science Explorers<br>Jungle Library</h1>
	</div>
<div class="wrapper" >
		<form class='main_buttons' action = '/login_form' method="POST">
			<img class='log' src="/static/images/tree_log.jpg"" alt="log">
			<input class='btn' type="submit" value="Login">
		</form>
<br>
<br>
		<form class='main_buttons' action = '/registration_form' method="POST">
			<img class='log' src="/static/images/tree_log.jpg"" alt="log">
			<input class='btn' type="submit" value="Register">
		</form>
</div>
</body>
</html>